<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BlogBlogBlog</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Blogen<a></h1>
    </div>

    <div>
      <p>published: 01.01.01, 01:01</p>
      <h2><a href="">My first post</a></h2>
      <p>мой первый пост мой первй пост мой первый пост мой первый пост</p>
      <p> </p>
    </div>


    <div>
      <p>published: 01.01.01, 01:02</p>
      <h2><a href="">My second post</a></h2>
      <p>мой второй пост мой второй пост мой второй пост</p>
      <p> </p>
    </div>
  </body>
</html>
